body {
  font-family: 'Fredoka', sans-serif;
  background-color: #f0f8ff;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  color: #ff69b4;
  font-size: 80px;
  animation: glow 1.5s ease-in-out infinite alternate;
}

#age {
  font-size: 120px;
  color: #ff6347;
  font-weight: 700;
  text-shadow: 0 0 20px rgba(255, 99, 71, 0.7);
}

.tarot-card {
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.tarot-card:hover {
  transform: scale(1.1);
}

@keyframes glow {
  0% {
      text-shadow: 0 0 10px rgba(255, 105, 180, 0.7), 0 0 20px rgba(255, 105, 180, 0.7);
  }
  100% {
      text-shadow: 0 0 20px rgba(255, 99, 71, 0.7), 0 0 30px rgba(255, 99, 71, 0.7);
  }
}
